# About

this site is the online home of tanner heffner. it's part portfolio, part playground and all [digital garden](https://joelhooks.com/digital-garden), using [swyxkit](https://swyxkit.netlify.app/about) as my starting point.

you can find technical snippets & longer blogs, cooking recipes, reviews and potentially much more. we're just
getting started watering this garden :)
