---
name: Crohn's and Colitis Foundation
url: https://www.crohnscolitisfoundation.org/
slug: ccf
description: 'component library, vue widgets, personalization, drupal theme'
type: professional
date: 2019-06-01
---

just want to see that this works! :)

put some explanation about the project here
