---
name: dieter rothko
slug: dieter-rothko
description: 'watercolor, mixed media'
type: personal
date: 2013-10-30
---

just want to see that this works! :)

put some explanation about the project here
