---
name: dieter rothko
slug: dieter-rothko
description: 'acrylic paint, found media, student project'
type: personal
date: 2013-10-30
---

just want to see that this works! :)

put some explanation about the project here
