---
name: file cabinet smoker
slug: file-cabinet-smoker
description: 'DIY, cooking'
type: personal
date: 2016-07-30
---

Over the course of several weekends, I recycled a metal file cabinet into a functional meat smoker + BBQ. I've detailed my process further [here](/file-cabinet-smoker-behind-the-smokescreens/). This particular smoker is no longer usable, having severely rusted after a few years in the Oregon rain. No covered deck at the time, whoops!

*1 all-metal file cabinet, 3 metal grates, 3 cans of heat-resistant grill paint, 3 BBQ thermometers, 2 floor vents, wood.*

![Standard 4 drawer file cabinet](https://user-images.githubusercontent.com/11279744/159190020-bb294930-292a-48e8-815f-e68383589819.png)
![Cooking-grade metal grates in packaging from the store](https://user-images.githubusercontent.com/11279744/159190021-7e75f94f-12a4-4a28-86ca-accea10ac6c4.png)
![Front shot of cabinet with thermometers installed in drawer faces](https://user-images.githubusercontent.com/11279744/159190012-7f0c219c-ef7b-45d9-bacc-a12213e610f4.png)
![Top down shot of inside of open drawers](https://user-images.githubusercontent.com/11279744/159190016-db48400d-a5b4-4bdb-ad89-a7bff14ed830.png)
![Bottom drawer open with a fire set inside](https://user-images.githubusercontent.com/11279744/159190019-9635a6e8-f3c8-4952-922c-8979ab1f783a.png)
![A tiny amount of smoke exiting the top](https://user-images.githubusercontent.com/11279744/159190029-26c161c0-a767-4bc3-b2eb-ba2a0ea6398d.png)
![Closeup of a thermometer, reads 220 degrees F](https://user-images.githubusercontent.com/11279744/159190030-4333afd9-f7a1-416c-aac9-c354a0691607.png)
![A ton of smoke pouring out the top](https://user-images.githubusercontent.com/11279744/159190028-ed8ce612-df30-430e-9160-7d03295b2773.png)
![Close up of heat-resistant spray paint for grills](https://user-images.githubusercontent.com/11279744/159190024-562edf6d-11c9-4d94-80bd-a26543657793.png)
![Fully painted cabinet. Looking clean.](https://user-images.githubusercontent.com/11279744/159190025-f4e5043f-6da8-4d39-a674-52a85985d2c7.png)
![Various peppers in the top drawer](https://user-images.githubusercontent.com/11279744/159190026-e8bd217a-30c5-466f-984e-b5fede439b45.png)
![Raw meat placed in a lower drawer](https://user-images.githubusercontent.com/11279744/159190022-e98aa249-6840-4b20-ae9f-8141596cd2c8.png)
![Close up of hole in the back of firebox for airflow](https://user-images.githubusercontent.com/11279744/159190018-a5ef04fe-e1b3-4c89-a7ed-5589d190477a.png)
![Various peppers after smoking](https://user-images.githubusercontent.com/11279744/159190027-c7b60e70-06af-462c-af10-0f1eb70e3182.png)
![Meat mid-cook](https://user-images.githubusercontent.com/11279744/159190023-6a84c172-87af-438d-964a-a8b93cc6e8fe.png)
![Closeup of active cabinet](https://user-images.githubusercontent.com/11279744/159190031-368cb4c4-3fd1-4717-a6d5-ac840510c3a1.png)
![Final shot of homemade cabinet smoker in all its glory](https://user-images.githubusercontent.com/11279744/159190017-e677381e-e2f3-4a27-acc3-481ad9641b3c.png)


[video](https://www.youtube.com/embed/JdYlvx5l3zI)
