<svelte:head>
  <title>heffner.dev | blogroll</title>
  <meta name="description" content="other neat websites" />
	<meta property="og:image" content={`https://heffner.dev/og?message=blogroll`}>
	<meta name="twitter:card" content={`https://heffner.dev/og?message=blogroll` ? 'summary_large_image' : 'summary'} />
	<meta name="twitter:image" content={`https://heffner.dev/og?message=blogroll`} />
</svelte:head>

<h1 class="text-shadow">blogroll</h1>

here's some other cool blogs

- [nug doug](https://darkdell.net)
- [mike crittenden](https://critter.blog)
- [defector](https://defector.com)
- [bright side of the sun](https://www.brightsideofthesun.com/)
- [fujichia](https://www.fujichia.com/)
