/* migrate all custom css to this file to eventually rip tailwind out */

/* zoomable images */
.zoom input[type='checkbox'] {
  display: none;
}

.zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

.zoom input[type='checkbox']:checked ~ img {
  transform: scale(1.65);
  cursor: zoom-out;
}
