@tailwind base;
@tailwind components;

@layer components {
  /* Cleanup styles for markdown headers */
  .prose h1 a {
    @apply bg-unset text-yellow-400 hover:text-yellow-400;
  }
  .prose h2,
  .prose h3,
  .prose h4 {
    @apply relative;
    a {
      @apply bg-unset p-0 font-bold !text-accent;
    }
    &::before {
      @apply absolute -left-5;
      @apply text-accent;
      content: '#';
    }
  }
  .prose-img-dense {
    @apply !m-0;
  }

  .emoji {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .emoji:hover {
    transform: scale(2);
  }
}

@tailwind utilities;
